<template>
	<transition name="fade">
		<div v-if="alert.status"  class="top-alert" v-bind:class="[alert.type]" role="alert">
		    <h3>{{alert.message}}</h3>
		</div>
	</transition>
</template>

<script>
	import { mapState } from 'vuex';
	export default {
		name: 'TopAlert',
		computed: mapState(['alert']),
		created() {
			setTimeout(this.closeAlert, 10000)
		},
		methods: {
			closeAlert: function(){
				this.$store.commit('setAlert', {message: '', type: '', status: false})
			}
		}
	}
</script>
